<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <title>List of Units</title>
    </head>
    <body>
        <h1>Table showing students</h1>
        <table>
            <tr>
                <th>code</th>
                <th>title</th>
            </tr>

            <tr th:each="student : ${students}">
                <td ><a th:text="${student.id}" th:href="'/student/' + ${student.getName()}" /></td>
                <td th:text="${student.name}"></td>
            </tr>
        </table>
        <h1>List of students</h1>
        <ul th:each="student : ${students}">
            <li>
<!--                <a th:href="'/student/' + ${student.id}" th:text="${unit.id}"></a> -->
                <span th:text="${student.name}"></span>
            </li>
        </ul>
    </body>
</html>
