<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <title>List of Units</title>
    </head>
    <body>
        <h1>Table showing units</h1>
        <table>
            <tr>
                <th>code</th>
                <th>title</th>
            </tr>

            <tr th:each="unit : ${units}">
                <td th:href="'/unit/' + ${unit.code}" th:text="${unit.code}"></td>
                <td th:text="${unit.title}"></td>
            </tr>
        </table>
        <h1>List of units</h1>
        <ul th:each="unit : ${units}">
            <li>
                <a th:href="'/unit/' + ${unit.code}" th:text="${unit.code}"></a>
                <span th:text="${unit.title}"></span>
            </li>
        </ul>
    </body>
</html>
